body {
	position: relative; 
}

.container-fluid, .row{
	padding: 0px;
	margin: 0px;
}

/******************************************************************************
Top Banner section - Start
******************************************************************************/

.top-banner{
	display: flex;
	align-items: center;
	background-color: rgb(10,130,90);
	height: 70px;
	color:#FFFFFF;
}

.top-banner a{
    text-decoration: none;
}

.logo-image{
	height: 50px;
	width: 40px;
}

.logo-sub-image{
	display: inline;
	height: 30px;
	width: 30px;
}

.logo-image{
	margin-left: 20px;
	filter: drop-shadow(3px 3px 2px #222);
}

.logo-sub-image{
	font-size: 2em;
	color:#063F00;
	filter: drop-shadow(1px 1px 1px #222); 
}

.logo-text, .logo-sub-text{
	filter: drop-shadow(2px 1px 1.5px #6F7171);
}

.logo-text{
	font-family: mistral;
	font-size: 3em;
	padding-left: 20px;
	color: rgb(20,20,20);
	opacity: 0.9;
}

.logo-sub-text{
	font-family: Pristina;
	opacity: 0.9;
	font-size: 1.5em;
	color: rgb(20,20,20);
}

.top-banner-sub-first span,
.top-banner-sub-first img,
.top-banner-sub-second span,
.top-banner-sub-second img{
	display: inline-block;
    vertical-align: middle;
}

/******************************************************************************
Top Banner section - end
******************************************************************************/


/******************************************************************************
Menu section - Start
******************************************************************************/

.affix {
	top:0;
	width: 100%;
	z-index: 9999 !important;
}

.affix ~ .container-fluid {
	position: relative;
	top: 50px;
}

.navbar{
	border: 1px solid rgba(100,100,255,.2);
	border-radius: 4px;

}

.top-nav-brand{
	font-family: Grand Hotel;
	font-size: 25px;
}

/******************************************************************************
Menu section - end
******************************************************************************/

/******************************************************************************
Content section - Start
******************************************************************************/

.star-ratings {
	font-family: FontAwesome;
	display: inline-block;
	color: #F3F861;
	-webkit-text-stroke: .1px #B85113;
	letter-spacing: 4px;
	font-size: 1.2em;
	position: relative;  
} 

.star-ratings::before { 
  content: "\f005 \f005 \f005 \f005 \f005";
  opacity: .5;
}

/* these percent values should have been times of 5 like 5%,10%,15% and so on.
But, since we used letter spacing we modified the percents as uneven values to suite the ratings properly */
[star-ratings-value="0"]::after {
  width: 0%;
}
[star-ratings-value="0.25"]::after {
  width: 5%;
}
[star-ratings-value="0.5"]::after {
  width: 8%;
}
[star-ratings-value="0.75"]::after {
  width: 11%;
}
[star-ratings-value="1"]::after {
  width: 20%;
}
[star-ratings-value="1.25"]::after {
  width: 25%;
}
[star-ratings-value="1.5"]::after {
  width: 28%;
}
[star-ratings-value="1.75"]::after {
  width: 31%;
}
[star-ratings-value="2"]::after {
  width: 40%;
}
[star-ratings-value="2.25"]::after {
  width: 45%;
}
[star-ratings-value="2.5"]::after {
  width: 48%;
}
[star-ratings-value="2.75"]::after {
  width: 51%;
}
[star-ratings-value="3"]::after {
  width: 60%;
}
[star-ratings-value="3.25"]::after {
  width: 65%;
}
[star-ratings-value="3.5"]::after {
  width: 68%;
}
[star-ratings-value="3.75"]::after {
  width: 71%;
}
[star-ratings-value="4"]::after {
  width: 80%;
}
[star-ratings-value="4.25"]::after {
  width: 85%;
}
[star-ratings-value="4.5"]::after {
  width: 88%;
}
[star-ratings-value="4.75"]::after {
  width: 91%;
}
[star-ratings-value="5"]::after {
  width: 100%;
}

.star-ratings::after {
  color: gold;
  content: "\f005 \f005 \f005 \f005 \f005";
  position: absolute;
  z-index: 1;
  display: block;
  left: 0;
  top:0;
  width: attr(rating);
  overflow: hidden;
}

/******************************************************************************
Content section - end
******************************************************************************/

/******************************************************************************
Footer section - start
******************************************************************************/

footer{
	position: relative;
	border-radius: 5px;
	height: 260px;
	color:white;
	background-color: #313744;
	padding: 0px;
	margin-top: 30px;
	margin-bottom: 10px;
}

footer .social-icons{
	font-weight: bold;
	color: white;
}

footer .social-icons i{
	opacity: 0.8;
	padding: 10px;
	color:white;
	margin-bottom: 20px;
}

footer .footer-links-header .footer-links{
	text-align: left;
}

footer .footer-links-header a{
	color: white;
	font-weight: bold;
}

footer .footer-links{
	padding-top: 5px;
}

footer .footer-links a{
	color: #a7a7a7;
}

.policy-links{
	color: #a7a7a7;
	margin-top: 20px;
}

.policy-links a{
	color: #a7a7a7;
	padding-right: 30px;
}

footer .copyright{
	position: absolute;
	width: 100%;
	height: 40px;
	padding: 10px 0px 0px 0px;
	color: white;
	background-color: #302B2B;
	border-radius: 5px;
	bottom: 0;
}

/******************************************************************************
Footer section - end
******************************************************************************/